.logo img {
    height: 45px;
    margin: 18px;
}
.idea-bulb svg {
    height: 64px;
    margin: 18px;
}

path.glow {
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes glow {
    from { fill: #d2d0d0; }
    to   { fill: #EFCE4A }    
}
path.glow-curve{
    animation-name: reflect;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes reflect {
    from { fill: #b3afaf; }
    to   { fill: #F7E6A1 }    
}
.greetings{
    text-transform:  capitalize;
    margin: 16px 18px;
    font-family: 'Bree Serif', serif;
    font-size: 24px;
}
.letter {
    padding: 18px;
    text-align: justify;
    font-size: 20px;
    color: #767676;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
    line-height: 32px;
}
.col-sm-3.thumbnail {
    border: none;
    text-align:  center;
    padding: 16px;
    text-transform:  capitalize;
}

.thumbnail img {
    max-width: 120px;
    /* animation-name: bounce; */
    /* animation-duration: 3s; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in-out; */
}
@keyframes bounce {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

p.question {
    color:  #333;
    margin: 16px 0;
}
.title {
    font-weight:  700;
}

.table {
    margin-top:  20px;
}
pre {
    white-space: inherit;
    margin: 20px 0;
    border:  none;
}
.slots-indicator {
    margin: 24px 8px;
    font-size: 24px;
    color: #333;
}

.slots-indicator .available {
    font-size: 48px;
    color: #f0cf4a;
}
label {
    display:  block;
    font-weight:  100;
    font-size: 18px;
}

input {margin-bottom:  24px;width:  100%;max-width: 420px;padding: 4px 8px;border-radius:  2px;border: 1px solid #d9dae2;}

button.purchase {
    border-radius: 4px;
    font-size: 18px;
    color:  #333;
    background: #f0cf4a;
    padding: 12px;
    border:  none;
}
pre.purchase-summary:empty {
    background: #fff;
}
span.amount {
    margin-left: 8px;
    color: #f1d04a;
    font-weight:  700;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 1px solid #f1d04a;
}
span.caution {
    display: block;
    font-size: 14px;
    color: #c30303;
}
p.error, span.caution {background: #f1d04a12;margin-bottom: 16px;border-left: 2px solid #f00;padding: 0 8px;width:  max-content;font-size: 16px;color:  inherit;}
.hidden{
    display: none;
}
#alert {
    width: 300px;
    position: fixed;
    left: calc(50% - 150px);
    margin-top: 32px;
}
.alert-success {
    color: #3f3f3f;
    background: #fff;
    border-color: #eee;
    z-index: 2000;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.msg strong {
    font-size: 14px;
    display:  block;
    margin-top: 8px;
    color: #333;
}
footer.text-center {
    margin-top: 80px;
    margin-bottom: 40px;
}

p.myname {
    font-size: 16px;
    font-weight: 700;
}